
iOSNative/CardPlay/CardPlay.xcodeproj/project.xcworkspace/xcuserdata/michaelgarrido.xcuserdatad/UserInterfaceState.xcuserstate

iOSNative/HelloSceneKit/HelloSceneKit.xcodeproj/project.xcworkspace/xcuserdata/michaelgarrido.xcuserdatad/UserInterfaceState.xcuserstate

CC3HelloWorld/CC3HelloWorld-iOS.xcodeproj/project.xcworkspace/xcuserdata/michaelgarrido.xcuserdatad/UserInterfaceState.xcuserstate

iOSNative/CardPlay/CardPlay.xcodeproj/project.xcworkspace/xcshareddata/CardPlay.xccheckout

iOSNative/CardPlay/CardPlay.xcodeproj/project.xcworkspace/xcuserdata/mac.xcuserdatad/UserInterfaceState.xcuserstate

iOSNative/CardPlay/CardPlay.xcodeproj/xcuserdata/mac.xcuserdatad/xcschemes/xcschememanagement.plist

iOSNative/CardPlay/CardPlay.xcodeproj/xcuserdata/mac.xcuserdatad/xcschemes/CardPlay.xcscheme

.DS_Store
