
iOSNative/CardPlay/CardPlay.xcodeproj/project.xcworkspace/xcuserdata/michaelgarrido.xcuserdatad/UserInterfaceState.xcuserstate

iOSNative/HelloSceneKit/HelloSceneKit.xcodeproj/project.xcworkspace/xcuserdata/michaelgarrido.xcuserdatad/UserInterfaceState.xcuserstate

CC3HelloWorld/CC3HelloWorld-iOS.xcodeproj/project.xcworkspace/xcuserdata/michaelgarrido.xcuserdatad/UserInterfaceState.xcuserstate
